<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>比颜值</title>
	<link href="static/img/favicon.ico" type="image/x-icon" rel=icon>
	<link href="static/img/favicon.ico" type="image/x-icon" rel="shortcut icon">
        <link rel="stylesheet" href="static/css/styles.css" />
        <script type="text/javascript" src="static/js/jquery.min.js"></script>
	<script type="text/javascript" src="static/js/jquery.filedrop.js"></script>
        <script type="text/javascript" src="static/js/upload.js"></script>
    </head>
    <body>
        <div id="score">
            <span class="message">Score</span>
        </div>
		<div id="dropbox">
			<span class="message">主人，把你的美美哒照拖拽于此</span>
		</div>
    </body>
</html>

